<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen">
    <title>@ViewData["Title"] - ServerControlPanel</title>
</head>
<body>
    <center>
        <div class="jumbotron">
            <h1 class="display-3">Server Control Panel</h1>
            <p>Don't touch unless you're supposed to be here.</p>
        </div>
        @RenderBody()
        <footer>
            <br>
            <hr>
            ServerControlPanel, developed by Alex "mcmonkey" Goodwin, is a simple web panel to stop/start a server.
            <br>You can find <a href="https://github.com/mcmonkeyprojects/ServerControlPanel">ServerControlPanel on GitHub</a>.
            <p class="text-muted">ServerControlPanel is Copyright (C) 2019 Alex "mcmonkey" Goodwin, All Rights Reserved.</p>
        </footer>
    </center>
</body>
</html>
