@{
    ViewData["Title"] = "Error";
}

<h1>Internal error.</h1>
<br>
<h4>Well... something went wrong.</h4>
<p class="text-muted">You might want to contact someone in charge of things about this.</p>
