@model StandardPageModel
@{
    ViewData["Title"] = "Your Server";
}

<script>
    function autohide(element) {
        document.getElementById(element).style.display = 'none';
    }
    function autoshow(element) {
        document.getElementById(element).style.display = 'block';
    }
    function submitChange(type) {
        var postRequest = new XMLHttpRequest();
        postRequest.open('POST', '/', true);
        postRequest.setRequestHeader('Content-Type', 'text/plain');
        postRequest.onload = function() {
            autohide('please_wait');
            if (this.responseText.startsWith('success/')) {
                autoshow('success_response');
            }
            else if (this.responseText.startsWith('bad_password/')) {
                autoshow('badpassword_response');
            }
            else if (this.responseText.startsWith('status/online/')) {
                autoshow('status_online');
                autohide('status_offline');
            }
            else if (this.responseText.startsWith('status/offline/')) {
                autoshow('status_offline');
                autohide('status_online');
            }
        }
        autohide('success_response');
        autohide('badpassword_response');
        autoshow('please_wait');
        postRequest.send(type + '/' + document.getElementById('server_control_password'));
    }
</script>

<div class="alert alert-dismissible alert-warning" style="max-width:800px;display:none;" id="please_wait">
    Please wait...
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
</div>
<div class="alert alert-dismissible alert-danger" style="max-width:800px;display:none;" id="badpassword_response">
    <button type="button" class="close" data-dismiss="alert" onclick="autohide('badpassword_response');">&times;</button>
    <strong>Failed!</strong> Invalid password.
</div>
<div class="alert alert-dismissible alert-success" style="max-width:800px;display:none;" id="success_response">
    <button type="button" class="close" data-dismiss="alert" onclick="autohide('success_response');">&times;</button>
    Okay! Command received, please wait a moment for it to take effect.
</div>

<div class="card text-white bg-success mb-3" style="max-width: 20rem;display:none;" id="status_online">
  <div class="card-header">Server Status</div>
  <div class="card-body">
    <h4 class="card-title">Server Is Online</h4>
    <p class="card-text">The server appears to be online at last check. Press the 'Check Status' button below to check again.</p>
  </div>
</div>

<div class="card text-white bg-danger mb-3" style="max-width: 20rem;display:none;" id="status_offline">
  <div class="card-header">Server Status</div>
  <div class="card-body">
    <h4 class="card-title">Server Is Offline</h4>
    <p class="card-text">The server appears to be offline at last check. Press the 'Check Status' button below to check again, or use 'Start Server' to get it back up.</p>
  </div>
</div>

<div class="form-group">
    <label for="server_control_password">Server Control Password:</label>
    <input type="password" class="form-control" id="server_control_password" placeholder="Password" style="max-width:500px">
    <p class="text-muted">This must be filled to press any of the buttons.</p>
    <button type="button" class="btn btn-secondary" onclick="submitChange('status_check');">Check Status</button> |
    <button type="button" class="btn btn-primary" onclick="submitChange('restart');">Restart Server</button> |
    <button type="button" class="btn btn-success" onclick="submitChange('start');">Start Server</button> |
    <button type="button" class="btn btn-danger" onclick="submitChange('stop');">Stop Server</button>
</div>
